@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

.bg-overlay\/50 {
    background-color: transparent !important;
}

.tap-highlight-transparent {
    display: none !important;
}

.customres {
bottom: 13.1% !important;
}

@media only screen and (max-height: 760px) and (min-height: 500px) {
    .customres {
        bottom: 13.2% !important;
    }
}

@media only screen and (max-height: 1000px) and (min-height: 800px) {
    .customres {
        bottom: 14.4% !important;
    }
}